
@{
    ViewBag.Title = "EditChannel";
}

<h2>EditChannel</h2>

<form method="post">
    <input type="hidden" name="ChannelId" value="@Model.ChannelId" />
    Channel Name: <input type="text" name="ChannelName" value="@Model.ChannelName" class="form-control" placeholder="ChannelName" /><br />
    <span class="text-danger">@Html.ValidationMessage("ChannelName")</span><br />
    Established Year: <input type="number" name="EstablishedYear" value="@Model.EstablishedYear" class="form-control" placeholder="EstablishedYear" /><br />
    <span class="text-danger">@Html.ValidationMessage("EstablishedYear")</span><br />
    Country: <input type="text" name="Country" value="@Model.Country" class="form-control" placeholder="Country" /><br />
    <span class="text-danger">@Html.ValidationMessage("Country")</span><br />
    <input type="submit" value="Edit" class="btn btn-success" />
</form>


